@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode-Light.eot");
  src: url("../fonts/FiraCode-Light.eot") format("embedded-opentype"),
    url("../fonts/FiraCode-Light.woff2") format("woff2"),
    url("../fonts/FiraCode-Light.woff") format("woff"),
    url("../fonts/FiraCode-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode-Regular.eot");
  src: url("../fonts/FiraCode-Regular.eot") format("embedded-opentype"),
    url("../fonts/FiraCode-Regular.woff2") format("woff2"),
    url("../fonts/FiraCode-Regular.woff") format("woff"),
    url("../fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode-Medium.eot");
  src: url("../fonts/FiraCode-Medium.eot") format("embedded-opentype"),
    url("../fonts/FiraCode-Medium.woff2") format("woff2"),
    url("../fonts/FiraCode-Medium.woff") format("woff"),
    url("../fonts/FiraCode-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode-Bold.eot");
  src: url("../fonts/FiraCode-Bold.eot") format("embedded-opentype"),
    url("../fonts/FiraCode-Bold.woff2") format("woff2"),
    url("../fonts/FiraCode-Bold.woff") format("woff"),
    url("../fonts/FiraCode-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
