/*!*/
@import "import";

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

header,
main,
footer {
  border: $border-gray solid 15px;
  height: auto;
  padding: 10px;
  background: $gray-darker;
}

header,
main {
  border-bottom: none;
}

header {
  padding: 0;
}

body {
  background: $bg-gray;
  font-family: "Fira Code", "Consolas", monospace;
  font-size: 1em;
  text-align: justify;
  color: $white;
}

p,
pre {
  font-size: 0.9rem;
}

footer {
  text-align: center;
  font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 10px;
  place-content: space-between;
  color: $white;
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

.nav-link {
  &:hover {
    text-decoration: $link-hover-decoration;
  }

  border-right: 5px solid $border-gray;
  padding: 20px;
}
