{% spaceless %}{% load static %} {% load render_bundle from webpack_loader %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block title %}Undefined{% endblock %}</title>
    {% render_bundle 'main' 'css' %}
  </head>
  <body>
  <div id="wrapper" class="container">
    <header id="header" class="row">
      <section id="menu">
        <div class="col-md-12 px-0">
          <nav id="nav">
            <ul class="nav">
              {% block nav %} {% endblock %}
            </ul>
          </nav>
        </div>
      </section>
    </header>
    <main id="main" class="row">
      <div class="col-md-12">
        {% block content %} {% endblock %}
      </div>
    </main>
    <footer id="footer" class="row">
      <div class="col-md-6">
          <span
          >Made with <span style="color: red">❤️</span> by
            <a href="http://github.com/xerrion" target="_blank"
            >Lasse Nielsen</a
            ></span
          >
      </div>
      <div class="col-md-6">
        {% block social %} {% endblock %}
      </div>
    </footer>
    {% render_bundle 'main' 'js' %}
    <script>
    $(document).ready(function() {
        $('pre').each(function(i, block) {
            hljs.highlightBlock(block);
        });
    });
</script>
  </div>
  </body>
  </html>
{% endspaceless %}
